.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

#music-container{
    width:330px;
    min-height:400px;
    height: auto;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#audio-info{
    text-align:center;
}

#audio-cover {
	max-height: 200px;
	max-width: 200px;
}

#img-cover {
	width: 100%;
	height: auto;
}


#audio-buttons {
    text-align: center;
    overflow: auto;
    float: center;
}

button#play{
    width: 70px;
    height: 70px;
    background: url('/assets/images/play.png') no-repeat;
    float: left;
    border: 0;
    outline: none;
}

button#pause{
    width: 70px;
    height: 70px;
    background: url('/assets/images/pause.png') no-repeat;
    float: left;
    border: 0;
    outline:none;
}

button#stop{
	width: 70px;
	height: 70px;
	background: url(../images/stop.png) no-repeat;
	float: left;
	border: 0;
	outline: none;
}

button#prev{
	width:70px;
	height: 70px;
	background:url(../images/prev.png) no-repeat;
	float: left;
	margin-top: 15px;
	margin-top: 15px;
	border: 0;
	outline: none;
}

button#next{
	width: 70px;
	height: 35px;
	background: url(../images/next.png) no-repeat;
	float: left;
	margin-top: 15px;
	margin-left: 15px;
	border: none;
	outline: none;
}

.highlight {
  background: rgba(255, 230, 0, 0.5);
  line-height: 1.7;
  border-radius: 3px;
  display:inline-block;
}

#music-add-bar {
	margin-top: 10px;
	width: auto;
	max-width: 800px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
