@()

@template() {
<div ng-controller="MusicCtrl">
  <div id="music-add-bar">
    <form novalidate>
      <input type="text" placeholder="Type an audio local path or URL" ng-model="result">
      <input class="btn btn-default" type="submit" ng-click="submitAdd(result)">
    </form>
  </div>
  <div id="music-container">
    <div id="audio-player">
      <div id="audio-info">
        <strong>{{currentSong.title || ""}}</strong>
      </div>
      <br/>
      <div id="audio-cover">
        <img id="img-cover" src="{{currentSong.cover || defaultCover}}"/>
      </div>
      <br/>
      <div id="audio-buttons">
        <span>
          <button id="prev" ng-click="playPrevious()"></button>
          <button id="play" ng-if="!isPlaying" ng-click="player.playPause()"></button>
          <button id="pause" ng-if="isPlaying" ng-click="player.playPause()"></button>
          <button id="stop" ng-click="player.stop()"></button>
          <button id="next" ng-click="playNext()"></button>
        </span>
      </div>
    </div>
    <span>Elapsed: {{currentSong.elapsed || '--'}} / length: {{currentSong.length || '--'}}</span>
  </div>
  <div id="playlist">
    <span><strong>PLAYLIST</strong></span>
    <div id="playlist-songs" ng-repeat="song in playlist.songs track by $index">
      <span ng-click="selectCurrentSong(song)" ng-class="{true: 'highlight'}[mustHighlight(song)]">{{song.id}}: {{song.title}}</span>
      <button ng-click="player.play(song.id)" ng-if="!mustHighlight(song)">PLAY</button>
    </div>
  </div>
</div>
}