@()

@template() {
<div ng-controller="MusicCtrl">
  <div id="music-container">
    <div id="audio-player">
      <div id="audio-info">
        {{currentSong.title || ""}}
      </div>
      <br/>
      <div id="audio-cover">
        <img id="img-cover" src="{{currentSong.cover || defaultCover}}"/>
      </div>
      <br/>
      <div id="audio-buttons">
        <span>
          <button id="play" ng-if="!isPlaying" ng-click="player.playPause()" />
          <button id="pause" ng-if="isPlaying" ng-click="player.playPause()" />
        </span>
      </div>
      </div>
      <span>Elapsed: {{currentSong.elapsed || '--'}} / length: {{currentSong.length || '--'}}</span>
      </div>
    </div>
  </div>
</div>
}